* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-clr: #f8f8f8;
  --bg2-clr: #a6b3c2;
}

img {
  display: block;
}

button,
a,
input {
  font: inherit;
  color: var(--bg-clr)
}

button {
  background: var(--bg2-clr);
}

body {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: var(--bg-clr);
  line-height: 1.5;
  width: 100vw;
  height: 100vh;
  letter-spacing: 1px;
  color: var(--bg-clr);
}

::placeholder {
  color: var(--bg-clr);
  letter-spacing: 2px;
}